@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,600italic,400italic,300italic,300,700italic,700);
@import url(https://fonts.googleapis.com/css?family=Boogaloo);
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

@font-face {
  font-family: 'fuente1';
  src: url(../fonts/fuente1.ttf);
}

/*
Contenedor cargando
*/
div#contenedor-cargando {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999999999;
}

div#contenedor-cargando div#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #35b433;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  z-index: 1001;
}

div#contenedor-cargando div#loader:before, div#contenedor-cargando div#loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

div#contenedor-cargando div#loader:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid transparent;
  border-top-color: #e74c3c;
}

div#contenedor-cargando div#loader:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 10px solid transparent;
  border-top-color: #35b433;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*Contenedor general*/
div#c-general {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

div#c-general div#bloque1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

div#c-general div#bloque1 img#logo1 {
  position: relative;
  display: block;
  width: 80%;
  height: auto;
  max-width: 476px;
  max-height: 269px;
  z-index: 30;
}

div#c-general div#bloque1 span#start {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  right: 60px;
  z-index: 30;
  bottom: 50px;
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  box-shadow: 0px 0px 0px 2px white, inset 0px 0px 0px white;
  -webkit-animation: bounce 5s infinite;
          animation: bounce 5s infinite;
  transition: all .3s ease;
}

div#c-general div#bloque1 span#start:hover {
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 0px 0px 2px white, inset 0px 40px 0px white;
  color: #e74c3c;
}

div#c-general div#bloque1 ul#slider {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: hidden;
  z-index: 10;
}

div#c-general div#bloque1 ul#slider li {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0px -1px 6px rgba(0, 0, 0, 0.45);
}

div#c-general div#bloque1 ul#slider li.s-actual {
  display: block;
}

div#c-general div#bloque1 ul#slider-pagination {
  position: absolute;
  display: block;
  width: auto;
  height: 10px;
  top: 8px;
  left: 15px;
  list-style: none;
  z-index: 30;
}

div#c-general div#bloque1 ul#slider-pagination li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 4px;
  background-color: white;
  transition: all .3s ease;
}

div#c-general div#bloque1 ul#slider-pagination li.sa-pagination {
  background-color: #35b433;
}

div#c-general div#bloque2 {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 100px;
  background-color: white;
}

div#c-general div#bloque2 header {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 100;
  line-height: 70px;
  background-color: #0f0f0f;
}

@media all and (max-width: 1160px) {
  div#c-general div#bloque2 header {
    padding: 0px 20px;
  }
}

div#c-general div#bloque2 header div.header-centro {
  position: relative;
  margin: auto;
  max-width: 1200px;
}

div#c-general div#bloque2 header div.header-centro img {
  display: block;
  position: absolute;
  top: 15px;
}

div#c-general div#bloque2 header div.header-centro span#btnMenu {
  position: absolute;
  display: none;
  width: 26px;
  height: 12px;
  top: 28px;
  right: 0px;
  font-family: 'Open Sans';
  text-transform: uppercase;
}

@media all and (max-width: 900px) {
  div#c-general div#bloque2 header div.header-centro span#btnMenu {
    display: block;
  }
}

div#c-general div#bloque2 header div.header-centro span#btnMenu:hover {
  cursor: pointer;
}

div#c-general div#bloque2 header div.header-centro span#btnMenu:hover:before {
  background-color: #35b433;
  box-shadow: 0px -7px 0px 0px #35b433, 0px 7px 0px 0px #35b433;
}

div#c-general div#bloque2 header div.header-centro span#btnMenu:hover:after {
  color: #35b433;
}

div#c-general div#bloque2 header div.header-centro span#btnMenu:before, div#c-general div#bloque2 header div.header-centro span#btnMenu:after {
  display: block;
  position: absolute;
}

div#c-general div#bloque2 header div.header-centro span#btnMenu:before {
  content: '';
  width: 25px;
  height: 3px;
  top: 50%;
  right: 4px;
  background-color: #bebebe;
  box-shadow: 0px -7px 0px 0px #bebebe, 0px 7px 0px 0px #bebebe;
  transition: all 0.3s;
}

div#c-general div#bloque2 header div.header-centro span#btnMenu:after {
  display: block;
  color: #bebebe;
  content: 'Menú';
  font-family: 'Open Sans';
  font-size: 14px;
  left: -60px;
  letter-spacing: 1px;
  line-height: 13px;
  text-transform: uppercase;
  transition: all .3s;
}

@media all and (max-width: 470px) {
  div#c-general div#bloque2 header div.header-centro span#btnMenu:after {
    display: none;
  }
}

div#c-general div#bloque2 header div.header-centro ul#menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: right;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media all and (max-width: 900px) {
  div#c-general div#bloque2 header div.header-centro ul#menu {
    display: none;
  }
}

div#c-general div#bloque2 header div.header-centro ul#menu li {
  position: relative;
  display: block;
  margin-left: 5px;
  transition: all .3s;
}

div#c-general div#bloque2 header div.header-centro ul#menu li a {
  position: relative;
  display: block;
  padding: 0px 20px;
  text-decoration: none;
  font-family: 'Segoe UI';
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .7px;
  color: rgba(255, 255, 255, 0.6);
}

div#c-general div#bloque2 header div.header-centro ul#menu li a:before {
  position: absolute;
  width: 0%;
  content: '';
  display: block;
  height: 3px;
  background-color: #35b433;
  top: 5px;
  left: 0;
  z-index: -1;
  transition: all .3s ease-in;
}

div#c-general div#bloque2 header div.header-centro ul#menu li a:hover {
  color: white;
}

div#c-general div#bloque2 header div.header-centro ul#menu li.menu-actual a {
  color: #6DD86B;
  z-index: 9;
}

div#c-general div#bloque2 header div.header-centro ul#menu li.menu-actual a:before {
  width: 100%;
}

div#c-general div#bloque2 header.hfijo {
  position: fixed !important;
}

div#c-general div#bloque2 div#c-nosotros {
  margin: 40px auto 0px;
  width: 100%;
  height: auto;
  min-height: 200px;
  overflow: hidden;
}

div#c-general div#bloque2 div#c-nosotros div#nosotros {
  margin: auto;
  width: 80%;
  height: 100%;
  max-width: 800px;
  padding: 30px 0px;
}

div#c-general div#bloque2 div#c-nosotros div#nosotros span {
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 27px;
  margin-bottom: 10px;
}

div#c-general div#bloque2 div#c-nosotros div#nosotros p {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.7;
  color: #646464;
  margin-bottom: 15px;
  text-align: justify;
}

div#c-general div#bloque2 div#c-nosotros .contenedor-valores {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-image: url(../images/valores.jpg);
  background-attachment: fixed;
  border-top: 1px solid #e6e6e6;
  padding-bottom: 60px;
}

div#c-general div#bloque2 div#c-nosotros .contenedor-valores:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -95%;
  -webkit-transform: skew(0deg, -5deg);
      -ms-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  background-color: white;
  border: 1px solid #e6e6e6;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

div#c-general div#bloque2 div#c-nosotros .contenedor-valores .cv-centro {
  margin: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1200px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 80px 0px 110px;
}

div#c-general div#bloque2 div#c-nosotros .contenedor-valores .cv-centro .valor {
  width: 250px;
  height: auto;
  overflow: hidden;
  margin: 0px 15px 50px;
  color: #333;
}

div#c-general div#bloque2 div#c-nosotros .contenedor-valores .cv-centro .valor span.v-circulo {
  margin: auto;
  display: block;
  width: 100px;
  height: 100px;
  line-height: 105px;
  border-radius: 100px;
  background-color: #e74c3c;
  box-shadow: inset 0px 0px 0px 4px white;
  border: 3px solid #e74c3c;
}

div#c-general div#bloque2 div#c-nosotros .contenedor-valores .cv-centro .valor span.v-circulo i {
  font-size: 40px;
  color: white;
}

div#c-general div#bloque2 div#c-nosotros .contenedor-valores .cv-centro .valor span.v-titulo {
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Open Sans';
  color: rgba(0, 0, 0, 0.6);
  transition: all .5s;
  overflow: hidden;
}

div#c-general div#bloque2 div#c-nosotros .contenedor-valores .cv-centro .valor p {
  font-family: 'Open Sans';
  font-size: 13px;
  padding: 0px 20px;
  color: #6e6e6e;
}

div#c-general div#bloque2 div#c-nosotros div.myv {
  width: 100%;
  height: auto;
  overflow: hidden;
}

div#c-general div#bloque2 div#c-nosotros div.myv .myv-separador {
  border-top: 1px solid #e6e6e6;
}

div#c-general div#bloque2 div#c-nosotros div.myv div.myv-centro {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: auto;
  width: 90%;
  max-width: 1000px;
  height: auto;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

div#c-general div#bloque2 div#c-nosotros div.myv div.myv-centro div.myv-col1 {
  width: 40%;
  height: 100%;
  text-align: center;
  padding: 30px;
}

@media all and (max-width: 800px) {
  div#c-general div#bloque2 div#c-nosotros div.myv div.myv-centro div.myv-col1 {
    width: 100%;
  }
}

div#c-general div#bloque2 div#c-nosotros div.myv div.myv-centro div.myv-col1 i {
  font-size: 60px;
}

div#c-general div#bloque2 div#c-nosotros div.myv div.myv-centro div.myv-col1 span {
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 27px;
  margin-bottom: 10px;
}

div#c-general div#bloque2 div#c-nosotros div.myv div.myv-centro div.myv-col1 span b {
  font-weight: normal;
  color: #e74c3c;
}

div#c-general div#bloque2 div#c-nosotros div.myv div.myv-centro div.myv-col2 {
  width: 60%;
  height: 100%;
  padding: 30px;
}

@media all and (max-width: 800px) {
  div#c-general div#bloque2 div#c-nosotros div.myv div.myv-centro div.myv-col2 {
    width: 100%;
  }
}

div#c-general div#bloque2 div#c-nosotros div.myv div.myv-centro div.myv-col2 i {
  font-size: 40px;
  color: silver;
}

div#c-general div#bloque2 div#c-nosotros div.myv div.myv-centro div.myv-col2 i.icon-quote-right {
  float: right;
}

div#c-general div#bloque2 div#c-nosotros div.myv div.myv-centro div.myv-col2 p {
  text-align: center;
  display: block;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.7;
  color: #646464;
  margin-bottom: 15px;
}

div#c-general div#bloque3 {
  width: 100%;
  height: auto;
  overflow: hidden;
}

div#c-general div#bloque3 div#c-servicios {
  width: 100%;
  height: auto;
  overflow: hidden;
}

div#c-general div#bloque3 div#c-servicios div#s-centro {
  margin: auto;
  width: 80%;
  height: 100%;
  max-width: 800px;
  padding: 30px 0px;
  background-color: #fff;
}

div#c-general div#bloque3 div#c-servicios div#s-centro span {
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 27px;
  margin: 25px 0px 10px 0px;
}

div#c-general div#bloque3 div#c-servicios div#s-centro p {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.7;
  color: #646464;
  margin-bottom: 15px;
  text-align: justify;
}

div#c-general div#bloque3 div#c-servicios div#servicios {
  position: relative;
  width: 100%;
  height: auto;
  padding: 180px 0px;
  background-image: url(../images/bg-servicios.jpeg);
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  background-position: right center;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.2);
}

div#c-general div#bloque3 div#c-servicios div#servicios:before, div#c-general div#bloque3 div#c-servicios div#servicios:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  left: 0;
}

div#c-general div#bloque3 div#c-servicios div#servicios:before {
  top: -95%;
  -webkit-transform: skew(0deg, 5deg);
      -ms-transform: skew(0deg, 5deg);
          transform: skew(0deg, 5deg);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

div#c-general div#bloque3 div#c-servicios div#servicios:after {
  bottom: -95%;
  -webkit-transform: skew(0deg, -5deg);
      -ms-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
}

div#c-general div#bloque3 div#c-servicios div#servicios div#servicios-centro {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 90%;
  height: auto;
  overflow: hidden;
  max-width: 1200px;
  padding: 70px 0px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

div#c-general div#bloque3 div#c-servicios div#servicios div#servicios-centro .servicio {
  position: relative;
  width: 280px;
  height: auto;
  min-height: 300px;
  background-color: white;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 15px;
  overflow: hidden;
  background-clip: padding-box;
  border: 7px solid rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 0px 1px white;
}

div#c-general div#bloque3 div#c-servicios div#servicios div#servicios-centro .servicio span.s-imagen {
  display: block;
  margin-top: 30px;
  width: 100%;
  height: 80px;
  text-align: center;
  line-height: 90px;
}

div#c-general div#bloque3 div#c-servicios div#servicios div#servicios-centro .servicio span.s-imagen i {
  font-size: 40px;
}

div#c-general div#bloque3 div#c-servicios div#servicios div#servicios-centro .servicio span.s-titulo {
  display: block;
  font-size: 30px;
  font-family: 'Boogaloo', cursive;
  text-align: center;
  padding: 0px 40px;
}

div#c-general div#bloque3 div#c-servicios div#servicios div#servicios-centro .servicio p {
  display: block;
  margin: 20px 0px 40px;
  width: 100%;
  padding: 0px 40px;
  font-family: 'Open Sans';
  font-size: 13px;
  text-align: center;
  color: #646464;
}

div#c-general div#bloque4 {
  width: 100%;
  height: auto;
  overflow: hidden;
  min-height: 100vh;
}

div#c-general div#bloque5 {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  min-height: 100vh;
  background-image: url(../images/contacto.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

div#c-general div#bloque5 .b5-sombra {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

div#c-general div#bloque5 div#titulo4 {
  position: relative;
  width: 100%;
  margin: 90px auto 0px;
  height: auto;
  text-align: center;
  z-index: 10;
}

div#c-general div#bloque5 div#titulo4 i {
  font-size: 60px;
  color: #bebebe;
  margin-left: 15px;
}

div#c-general div#bloque5 div#titulo4 span {
  display: inline-block;
  font-size: 40px;
  font-family: 'fuente1';
  text-transform: uppercase;
  color: #bebebe;
  padding: 5px 15px;
  border-bottom: 3px solid #dddddd;
}

div#c-general div#bloque5 div#titulo4 span b {
  color: #35b433;
}

/*
  ----------------------------------------------------------------------------> SEPARADORES
*/
/*Separador 1*/
div.separador1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  background-image: url(../images/bg1.jpeg);
  background-position: center bottom;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

div.separador1 div#c-sep1 {
  width: 85%;
  max-width: 600px;
  height: auto;
  text-align: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #35b433;
  border-radius: 25px;
}

div.separador1 div#c-sep1 span {
  padding-top: 70px;
  display: block;
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: white;
}

@media all and (max-width: 500px) {
  div.separador1 div#c-sep1 span {
    font-size: 40px;
  }
}

div.separador1 div#c-sep1 i {
  display: inline-block;
  margin: 30px 10px;
  font-size: 60px;
  color: white;
}

@media all and (max-width: 500px) {
  div.separador1 div#c-sep1 i {
    font-size: 50px;
  }
}

div.separador1 div#c-sep1 b {
  display: block;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.3);
  margin: 30px auto;
  transition: all .3s ease;
}

div.separador1 div#c-sep1 b:hover {
  cursor: pointer;
  color: white;
}

div.separador1 div#c-sep1 p {
  display: block;
  margin: auto;
  width: 80%;
  max-width: 400px;
  font-size: 14px;
  font-family: 'Open Sans';
  color: white;
}

@media all and (max-width: 500px) {
  div.separador1 div#c-sep1 p {
    font-size: 13px;
  }
}

/*Separador 2*/
div.separador2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  z-index: 10;
  background-image: url(../images/separadores/separador2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
  overflow: hidden;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

div.separador2:before, div.separador2:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

div.separador2:before {
  top: -95%;
  -webkit-transform: skew(0deg, 5deg);
      -ms-transform: skew(0deg, 5deg);
          transform: skew(0deg, 5deg);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  background-color: white;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

div.separador2:after {
  bottom: -95%;
  -webkit-transform: skew(0deg, -5deg);
      -ms-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  background-color: white;
}

/*Separador 3*/
.separador3 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../images/separadores/separador3.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  box-shadow: inset 0px -3px 10px rgba(0, 0, 0, 0.4);
}

.separador3:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -95%;
  -webkit-transform: skew(0deg, 5deg);
      -ms-transform: skew(0deg, 5deg);
          transform: skew(0deg, 5deg);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  background-color: white;
}

/*
  ----------------------------------------------------------------------------> CONTENEDOR TITULO
*/
div.c-titulo {
  margin: 90px auto 0px;
  width: 85%;
  height: auto;
  max-width: 1200px;
  text-align: center;
}

div.c-titulo i {
  font-size: 60px;
  color: #505050;
  margin-left: 15px;
}

div.c-titulo span {
  display: inline-block;
  font-size: 40px;
  font-family: 'fuente1';
  text-transform: uppercase;
  color: #505050;
  padding: 5px 15px;
  border-bottom: 3px solid #dddddd;
}

div.c-titulo span b {
  color: #e74c3c;
}

/*
  ----------------------------------------------------------------------------> ANIMACIONES
*/
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

/*
  ----------------------------------------------------------------------------> DELIMITADOR
*/
span.delimitador {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background-color: red;
}

/*
  ----------------------------------------------------------------------------> SERVICIOS
*/
.ser1 span {
  color: #0093e1 !important;
}

.ser2 span {
  color: #e74c3c !important;
}

.ser3 span {
  color: #9b59b6 !important;
}

.ser4 span {
  color: #35b433 !important;
}

.ser5 span {
  color: #e67e22 !important;
}
